.sty-test{
    position:absolute;
    top:39%;
    left:680px;
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:2px solid rgb(19, 18, 18);

}